<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Products</title>
  <link rel="stylesheet" href="../../content/app.css">
  <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../node_modules/@fortawesome/fontawesome-free/css/all.min.css">
</head>
<body>
<!-- Header will be injected here -->
<header></header>

<main class="container mt-4">
  <h1 class="mb-5">Products</h1>
</main>

<script src="../../scripts/namespace.js"></script>
<script src="../../src/contact.ts"></script>
<script src="../../scripts/app.js"></script>
</body>
</html>